.lineUp {
  box-sizing: border-box;
  border: #ee7752 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;


  &_container {
    box-sizing: border-box;
    border: #23d5ab 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_max {
      position: relative;
      overflow: hidden;
      border: #ee7752 7px solid;
      height: 60%;
      width: 90%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_title {
        position: absolute;
        top: 1rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      &_active {
        position: absolute;
        top: 2rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
        @media only screen and (min-width: 1200px) {
          top: 7rem;
        }
      }

      &_players {
        overflow-y: scroll;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: #ff00ff 6px solid;
        padding: 2rem;
        margin-bottom: auto;
        cursor: pointer;

        &_player {
          box-sizing: border-box;
          position: relative;
          width: 100%;
          height: 100%;
          border: #6b6b6b 5px solid;
          display: flex;
          align-items: center;
          padding: 1rem;

          &_profileBtn {
            height: 100%;
            width: 50%;
            border: #6b6b6b 5px solid;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }
      }

      &_logoutButton {
        border: lightgreen 5px solid;
        color: grey;
        font-size: 1.5rem;
        font-family: "exoMediumItalic", sans-serif;
        margin-top: 2rem;

        @media only screen and (min-width: 1200px) {
          font-size: 5rem;
        }
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    font-size: 5em;
  }
}
