.avatarContainer {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
}

.user-avatar {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.avatar {
  border-radius: 25%;
  height: 34px;
  width: 34px;
}

.status-overlay {
  background-color: #4BAE4F;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1001;
  padding: 6px;
  border-radius: 12px;
}

.bowtie-icon {
  font-size: 16px;
}

.success {
  color: #4BAE4F;
}

.waiting {
  color: #808080;
}
