$border: 2px solid white;
$breakpoint-mobile: 460px;
$breakpoint-tablet: 460px;
$breakpoint-desktop: 900px;

.playerImageSection {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;

  @media (max-width: $breakpoint-mobile) {
    &__name {
      background: #ee7752;
      border: 2px solid purple;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      bottom: 1rem;
      right: 1rem;
      width: 40%;
      z-index: 100;

      &_ime {
        border: 2px solid white;
        font-size: 1rem;
      }

      &_prezime {
        border: 2px solid white;
        font-size: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    &__name {
      background: #ee7752;
      border: 2px solid white;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      bottom: 1rem;
      right: 1rem;
      width: 40%;
      z-index: 100;

      &_ime {
        border: 2px solid white;
        font-size: 1.5rem;
      }

      &_prezime {
        border: 2px solid white;
        font-size: 2.5rem;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__name {
      border: 3px solid white;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      bottom: 1rem;
      right: 1rem;
      width: 40%;
      z-index: 100;

      &_ime {
        border: 2px solid white;
        font-size: 2.5rem;
      }

      &_prezime {
        border: 2px solid white;
        font-size: 4.5rem;
      }
    }
  }

  .playerImage {
    border: 2px solid white;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 70%;

    &_image {
      width: 100%;
      max-height: 350px;
      max-width: 350px;
    }

    @media (max-width: $breakpoint-mobile) {
    }

    @media (min-width: $breakpoint-tablet) {
    }

    @media (min-width: $breakpoint-desktop) {

    }
  }

  .playerNumber {

    @media (max-width: $breakpoint-mobile) {
      border: 2px solid white;
      position: absolute;
      top: 1rem;
      right: 0;
      font-size: 9em;
    }

    @media (min-width: $breakpoint-tablet) {
      border: 2px solid white;
      position: absolute;
      top: 1rem;
      right: 0;
      font-size: 9em;
    }

    @media (min-width: $breakpoint-desktop) {

    }
  }
}
