
.notification {
  position: absolute;
  box-sizing: border-box;
  border: #ee7752 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  color: black;
  pointer-events: none;

  @media only screen and (min-width: 1200px) {
    font-size: 5rem;
  }

  &_container {
    box-sizing: border-box;
    border: #90ee90 7px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_list {
      border: #ee7752 7px solid;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      box-sizing: border-box;
      list-style: none;
      height: 100%;
      width: 100%;

      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 8px;
        background-color: white;
        height: 264px;
        width: 600px;
        margin-bottom: 1rem;

        &_message {
          //background-color: #3b5999;
          //color: #3b5999;
        }

        &_close {
          border: none;
          outline: none;
          position: absolute;
          top: 6px;
          right: 0;
          height: 32px;
          background-color: transparent;

          button {
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;
          }
        }

        //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.32), 0 3px 3px rgba(0, 0, 0, 0.34);
      }
    }
  }
}
