$background-color: #282c34;
$lightcoral: lighten(coral, 10%);
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;
$primary-color: $blue;
$border-color: #dddddd;

/* color variables */
$background-color: linear-gradient(to bottom, #f9fbf7, #C9D8FF);
$lightcoral: lighten(coral, 10%);
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;
$primary-color: $blue;
$border-color: #dddddd;
$title-color: #626262;
$label-font-size: 1rem;
$defaultBlueColor: #0086e4;
$gradientBackground: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$gradientDarkTheme: linear-gradient(-45deg, #353434, #6b6b6b, #676767);
$backgroundSize: 400% 400%;
$darkBackground:radial-gradient(at center bottom, #4242a2, #282828);

/* leaderBoard styles */
$backgroundColor: lighten(grey, 10%);

/* profileInfo styles */
$borderStyle: black solid 2px;
$xp-text-color: black;
$black-font: #000;
$gradient: linear-gradient(45deg , rgba(90, 83, 126, 1) 0%, rgb(25, 26, 54) 100%);
$blackGradient: linear-gradient(90deg , rgb(59, 59, 59) 0%, rgb(26, 26, 26) 100%);
$fontColor: white;
$text-color: hsl(0, 2%, 11%);
$bevel-color: hsl(0, 0%, 92%);
$iconColor: gold;
