$border: 2px solid white;
.leaderboard {
  box-sizing: border-box;
  position: relative;
  border: $border;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;

  .leaderboardContainer {
    box-sizing: border-box;
    position: relative;
    border: $border;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 4rem;
    border: #ee7752 2px solid;

    .leaderboardTitle {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &_preview {
      box-sizing: border-box;
      border: #23d5ab 2px solid;
      width: 100%;
      height: 30%;
      margin-bottom: .5rem;
    }

    &_list{
      box-sizing: border-box;
      border: #23d5ab 2px solid;
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;

      &_element{
        box-sizing: border-box;
        border: #23d5ab 2px solid;
        width: 100%;
        height: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .1rem;
        padding: 0 1rem;
        font-size: 1.5rem;
      }
    }

    .leaderboardButtonContainers {
      position: absolute;
      bottom: 1rem;
      box-sizing: border-box;
      border: $border;
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 100;

      &__button {
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        height: 100%;
        background: black;
        color: white;

        &_link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
