.container {
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  padding-bottom: 20px;
  z-index: 1000;

  @media screen and (max-width: 1200px) {
    left: 9px;
    z-index: 1000;
  }
}

.snake {
  position: absolute;
  transition: transform 500ms;
  width: 270px;
  transform: translateY(-50%);
  top: 60%;
  padding-left: 22px;
}

.snake path {
  fill: none;
  stroke: white;
  stroke-dasharray: 23 100;
  stroke-width: 1.8px;
}

.pos1 .snake {
  transform: translateX(42.33%) translateY(-50%);
}

.pos2 .snake {
  transform: translateX(84.67%) translateY(-50%);
}

.pos3 .snake {
  transform: translateX(126.07%) translateY(-50%);
}

.pos4 .snake {
  transform: translateX(167.67%) translateY(-50%);
}

.pos5 .snake {
  transform: translateX(209.67%) translateY(-50%);
}

.pos6 .snake {
  transform: translateX(251.50%) translateY(-50%);
}

.left .snake path {
  stroke-dashoffset: 0;
  transform: translateX(0);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.right .snake path {
  stroke-dashoffset: -70px;
  transform: translateX(-60%);
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.instant .snake path {
  transition: none;
}

.navbarMenu {
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 100px;
  left: 9px;
  position: relative;
  padding-right: .5rem;
}

.item {
  font-size: 1.2rem;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 300px;

  &:hover {
    color: gold;
  }
}
