$border: 2px solid white;
.matches {
  box-sizing: border-box;
  position: relative;
  border: $border;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;

  .matchesContainer {
    box-sizing: border-box;
    position: relative;
    border: $border;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;

    .matchesTitle {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .buttonContainers {
      box-sizing: border-box;
      border: $border;
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 100;

      &__button {
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        height: 100%;
        background: black;
        color: white;

        &_link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
