.registration {
  box-sizing: border-box;
  border: #ee7752 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;

  &_container {
    box-sizing: border-box;
    border: #23d5ab 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_max {
      position: relative;
      overflow: hidden;
      border: #ee7752 7px solid;
      height: 100%;
      width: 80%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &_title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      &_buttons {
        width: 100%;
        border: #ee7752 1px solid;
        display: flex;

        &_editButton {
          width: 100%;
          color: grey;
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          margin-top: 1rem;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }
      }

      &_information {
        position: relative;
        border: #0086e4 5px solid;
        padding: 5rem 0;
        width: 100%;
        height: 60%;

        &_profileImage{
          border: #ff00ff 5px solid;
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &_label {
          font-size: 1.5rem;
          border-radius: .25rem;
          padding: 0 .5rem;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }

        &_labelSelect {
          overflow: hidden;
          font-size: 1.5rem;
          border-radius: .25rem;
          padding: 0 .5rem;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 1rem;
          }
        }

        &_labelTeam {
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }

        &_labelEmail {
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }

        &_labelPassword {
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }

        &_labelName {
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;
          }
        }

        &_labelHeight {
          font-size: 1.5rem;
          font-family: "exoMediumItalic", sans-serif;
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          @media only screen and (min-width: 1200px) {
            font-size: 5rem;

          }
        }

        &_input {
          border-radius: .25rem;
          padding: 0 .5rem;
          background: white;
          color: grey;
          width: 100%;
        }
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    font-size: 5em;
  }
}
